@model ClientModel; /*Carregamos a Model e nesta classse fazemos a mesma coisa do cadastro novo apenas tomando cuidado com ctr c e v , lembrar de mudar os controllers e metodos(actions)*/

@{
    /*Carregamos a Model e nesta classse fazemos a mesma coisa do cadastro novo
     * apenas tomando cuidado com ctr c e v
     * , lembrar de mudar os controllers e metodos(actions)*/

}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                <h2>Cliente - Editar</h2>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div asp-validation-summary="All" class="alert alert alert-warning" role="alert"></div>
                }
                else
                {
                    <form asp-action="Edit" asp-controller="Client" method="post">
                        <div class="form-group">
                            <label class="control-label" asp-for="Name"></label>
                            <input type="text" class="form-control col-5" asp-for="Name" />
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" asp-for="Email"></label>
                            <input type="email" class="form-control col-5" asp-for="Email" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" asp-for="Birth"></label>
                            <input class="form-control col-5" asp-for="Birth" />
                            <span class="text-danger" asp-validation-for="Birth"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" asp-for="Observation">Observação</label>
                            <textarea class="form-control" asp-for="Observation"></textarea>
                            <span class="text-danger" asp-validation-for="Observation"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label" asp-for="RepresentanteId">Representante</label>
                            <select asp-for="RepresentanteId" asp-items="@ViewBag.representantes">
                                <option value="">Selecione</option>

                            </select>
                            <span class="text-danger" asp-validation-for="RepresentanteId"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Salvar" class="btn btn-primary btn-lg" />
                        </div>

                        <a href="/client" class="btn btn-warning btn-lg">Inicio</a>
                    </form>
                }
            </div>
        </div>
    </div>
</div>